body,html {
    background-color: rgb(13, 56, 131);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    padding:10px;
    position: relative;
    height: 40px;
    color: beige;
}



header::before {
    content: "";
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(42, 70, 139);
    height: 1px;
}

.boxContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
}

.box {
    margin: 10px;
    width: 400px;
    height: 100px;
    font-size: 50px;
    font-family: "Lato";
}

button:hover {
    background-color: rgb(96, 177, 177);
}


#add {
    margin: 10px;
    width: 200px;
    height: 50px;
    font-size: 25px;
    font-family: "Lato";
}


#homeLink {
    margin: 27px;
    color:aqua;
    
}


#flashcardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    color:beige;
    font-size: 5vh;
    padding:50px;
    
}

#definition {
   padding: 75px;
   height: 30px;
}


.flashcardButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

#showAnswer {
    margin: 10px;
    width: 300px;
    height: 75px;
    font-size: 35px;
    background-color: gray;
    
}

#know, #dontknow {
    margin: 10px;
    width: 200px;
    height: 55px;
    font-size: 30px;
    background-color: rgb(0, 255, 26);
}
#dontknow {
    background-color: rgb(204, 18, 80);
}

#flashcardBoxNumber {
    margin: 10px;
    font-size: 40px;
    color: rgb(169, 28, 194);
}